{
    "semi": true,
    "singleQuote": false,
    "endOfLine": "auto",
    "printWidth": 80,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 1
            }
        }
    ]
}
