@import "../styles/variables.scss";

$accentWidth: 5px;
$accentHeight: 36px;

.card {
    background-color: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(12px);
    min-height: 260px;
    cursor: pointer;

    text-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.7);
    &::before {
        content: "";
        width: $accentWidth;
        height: $accentHeight;
        position: absolute;
        background-color: $colorAccentYellow; // Default accent color
        top: 18px;
        left: -$accentWidth / 2;
        transition: all 0.1s ease-in, height 0.2s ease-in, top 0.1s ease-in 0.1s;
    }

    .preview {
        z-index: -1;
        background-size: cover;
        background-position: 50% center;
        opacity: 0.2;
        transform-origin: center center;
        transition: all 0.3s ease-out, opacity 0.4s ease-out, filter 0.2s linear;
        transform: translateY(0px) scale(1.05);
        filter: saturate(0) brightness(0.4) blur(2px);
    }
    &:hover {
        &::before {
            height: $accentWidth;
            width: 100%;
            top: 0;
            left: 0;
            transition: all 0.1s ease-out, height 0.1s ease-out, width 0.2s ease-in-out 0.1s;
        }
        .preview {
            opacity: 1;
            transform: translateY(4px) scale(1);
            filter: saturate(1) brightness(1) blur(0px);
        }
        .text-xl,
        p,
        .technologies span {
            transition: all 0.1s ease-in-out;
            //backdrop-filter: blur(8px) brightness(0.9);

            color: white;
        }
    }

    .icon {
        transition: transform 0.1s linear, opacity 0.1s linear;
        &:hover {
            opacity: 1;
            transform: scale(1.7);
        }
    }
}
