$accentWidth: 4px;
$accentHeight: 24px;

.card {
    // TODO : changer cette classe
    background-color: rgba($color: #000000, $alpha: 0.1);
    backdrop-filter: blur(12px);
    min-height: 260px;
    cursor: pointer;
    overflow: hidden;

    text-shadow: 1px 0px 5px rgba($color: #000000, $alpha: 0.7);
    &::before {
        content: "";
        width: $accentWidth;
        height: $accentHeight;
        background-color: orangered; // TODO : passer un paramètre props
        position: absolute;
        top: 18px;
        left: -$accentWidth / 4;
        transition: all 0.1s ease-in, height 0.2s ease-in, top 0.1s ease-in 0.1s;
    }

    .preview {
        z-index: -1;
        background-size: cover;
        background-position: 50% center;
        opacity: 0.05;
        transform-origin: center center;
        transition: all 0.3s ease-out, opacity 0.4s ease-out, filter 0.2s linear;
        transform: translateY(0px) scale(1.02);
        filter: saturate(0) contrast(1.2) blur(2px);
    }
    &:hover {
        &::before {
            height: $accentWidth;
            width: 100%;
            top: 0;
            left: 0;
            transition: all 0.1s ease-out, height 0.1s ease-out, width 0.2s ease-in-out 0.1s;
        }
        .preview {
            opacity: 1;
            //transform: scaleY(1);
            transform: translateY(4px) scale(1);
            filter: saturate(1) contrast(1) blur(0px);
        }
        .text-xl,
        p,
        .technologies span {
            transition: all 0.1s ease-in-out;
            //backdrop-filter: blur(8px) brightness(0.9);

            color: white;
        }
    }
}
