@import "../styles/variables.scss";

.resumeItem {
}

.title {
    &::before {
        content: "[";
        padding-right: 8px;
    }
    &::after {
        content: "]";
        padding-left: 8px;
    }
}

.progress {
    $barHeight: 4px;
    $capWidth: 4px;
    $capOffset: 4px;

    height: $barHeight * 1.5;
    background: rgba(#888888, 0.4);

    .progression {
        background: $colorPrimary;
        transition: width 0.7s ease-in-out;
    }

    @screen md {
        height: $barHeight;

        .progression {
            &::after {
                content: "";
                position: absolute;
                top: -$capOffset / 2;
                right: -$capWidth / 2;
                height: $barHeight + $capOffset;
                width: $capWidth;
                background-color: $colorPrimary;
                border-radius: $barHeight / 2;
            }
        }
    }
}
