$__iconfont__data: map-merge(if(global_variable_exists('__iconfont__data'), $__iconfont__data, ()), (
	"font-icons": (
		"address": "\ea01",
		"android": "\ea02",
		"backbone": "\ea03",
		"bootstrap": "\ea04",
		"coffee": "\ea05",
		"cordova": "\ea06",
		"css": "\ea07",
		"css3": "\ea08",
		"drupal": "\ea09",
		"electron": "\ea0a",
		"email": "\ea0b",
		"ezpublish": "\ea0c",
		"facebook": "\ea0d",
		"gulp": "\ea0e",
		"heart": "\ea0f",
		"html": "\ea10",
		"html5": "\ea11",
		"ios": "\ea12",
		"javascript": "\ea13",
		"jquery": "\ea14",
		"json": "\ea15",
		"less": "\ea16",
		"linkedin": "\ea17",
		"mailchimp": "\ea18",
		"next": "\ea19",
		"nodejs": "\ea1a",
		"phone": "\ea1b",
		"photoshop": "\ea1c",
		"react": "\ea1d",
		"sass": "\ea1e",
		"sentry": "\ea1f",
		"steamvr": "\ea20",
		"tailwind": "\ea21",
		"threejs": "\ea22",
		"twig": "\ea23",
		"unity": "\ea24",
		"webgl": "\ea25",
		"webpack": "\ea26",
		"wordpress": "\ea27"
	)
));


$create-font-face: true !default; // should the @font-face tag get created?

// should there be a custom class for each icon? will be .filename
$create-icon-classes: true !default; 

// what is the common class name that icons share? in this case icons need to have .icon.filename in their classes this requires you to have 2 classes on each icon html element, but reduced redeclaration of the font family for each icon
$icon-common-class: 'fonticon' !default;

// if you whish to prefix your filenames, here you can do so. If this string stays empty, your classes will use the filename, for example an icon called star.svg will result in a class called .star, if you use the prefix to be 'icon-' it would result in .icon-star
$icon-prefix: 'icon-' !default; 

// helper function to get the correct font group
@function iconfont-group($group: null) {
  @if (null == $group) {
    $group: nth(map-keys($__iconfont__data), 1);
  }
  @if (false == map-has-key($__iconfont__data, $group)) {
    @warn 'Undefined Iconfont Family!';
    @return ();
  }
  @return map-get($__iconfont__data, $group);
}

// helper function to get the correct icon of a group
@function iconfont-item($name) {
  $slash: str-index($name, '/');
  $group: null;
  @if ($slash) {
    $group: str-slice($name, 0, $slash - 1);
    $name: str-slice($name, $slash + 1);
  } @else {
    $group: nth(map-keys($__iconfont__data), 1);
  }
  $group: iconfont-group($group);
  @if (false == map-has-key($group, $name)) {
    @warn 'Undefined Iconfont Glyph!';
    @return '';
  }
  @return map-get($group, $name);
}

// complete mixing to include the icon. Usage: .my_icon{ @include iconfont('star') }
@mixin iconfont($icon) {
  $slash: str-index($icon, '/');
  $group: null;
  @if ($slash) {
    $group: str-slice($icon, 0, $slash - 1);
  } @else {
    $group: nth(map-keys($__iconfont__data), 1);
  }
  &:before {
    font-family: $group;
    font-style: normal;
    font-weight: 400;
    content: iconfont-item($icon);
  }
}

// creates the font face tag if the variable is set to true (default)
@if $create-font-face == true {
  @font-face {
   font-family: "font-icons";
   src: url('../public/fonts/font-icons.eot'); /* IE9 Compat Modes */
   src: url('../public/fonts/font-icons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../public/fonts/font-icons.woff') format('woff'), /* Pretty Modern Browsers */
      url('../public/fonts/font-icons.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../public/fonts/font-icons.svg') format('svg'); /* Legacy iOS */
   font-display: swap;
  }
}

// creates icon classes for each individual loaded svg (default)
@if $create-icon-classes == true {
  .#{$icon-common-class} {
    font-style: normal;
    font-weight: 400;

    @each $icon, $content in map-get($__iconfont__data, "font-icons") {
      &.#{$icon-prefix}#{$icon} span {
        display: none;
      }
      &.#{$icon-prefix}#{$icon}:before {
        font-family: "font-icons";
        content: iconfont-item("font-icons/#{$icon}");
        vertical-align: text-bottom;
      }
    }
  }
}
