@import "variables";
@import "typography";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    color: $colorPrimary;
    background-color: $colorBackgroundPrimary;
    background-image: url("/images/background.png");
    background-size: contain;
    font-family: $fontFamily;
    font-weight: 100;
}
