@import "variables";
@import "typography";
@import "font-icons";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    color: $colorPrimary;
    background-color: $colorBackgroundPrimary;
    background-image: url("/images/background.png");
    background-size: contain;
    font-family: $fontFamily;
    font-weight: 100;
}

footer {
    backdrop-filter: blur(10px);
    bottom: 0;
    right: 8px;
    background-color: $colorBackgroundPrimaryTransparent;

    .fonticon {
        position: relative;
        bottom: -1px;
        padding: 0 4px;
    }
}

// TODO TEMP : it doesn't works in the sectionTitle module css (because the aos-animate class is added later, at runtime)
section .aos-animate[class*="sectionTitle"] {
    &::before {
        width: 100px !important;
    }
}

/* starting ENTER animation */
.enter {
    left: -10px;
    opacity: 0.01;
}

/* ending ENTER animation */
.enter-done {
    position: relative;
    left: 0px;
    opacity: 1;
    transition: all 300ms ease-out;
}

/* starting EXIT animation */
.exit {
    display: none;
}

/* ending EXIT animation */
.exit-active {
    /*
  opacity: 0;
  transform: scale(4);
  transition: all 1000ms ease-in-out;
  */
}

.tooltip {
    $color: rgba(
        $color: #000000,
        $alpha: 0.6,
    );

    font-size: 1rem !important;
    padding: 2px 8px !important;
    background-color: $color !important;
    //backdrop-filter: blur(4px) !important;

    &.place-top::after {
        border-top-color: $color !important;
        bottom: -7px !important;
    }

    &.place-bottom::before {
        border-bottom-color: $color !important;
    }
}
